.favorite-container {
  position: absolute;
  width: 30%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  flex: column;
  overflow: hidden;
}
/* Media query for mobile devices */
@media (max-width: 767px) {
  .favorite-container {
    width: 80%;
    height: 60%;
  }
}
/* header */
.fav-header {
  background-color: azure;
  display: flex;
  align-items: center;
  flex: 1;
}
.fav-header div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.fav-header div span {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-left: 10px;
  text-align: center;
  margin: 10px;
  line-height: 1.5rem;
}
.fav-header div span:nth-child(2) {
  font-size: 0.7rem;
  color: gray;
  text-align: center;
  line-height: 0.9rem;
  display: block;
  padding: 40px 10px 0 0;
}
.close-btn {
  width: 8%;
  height: 8%;
  margin-left: 10px;
  cursor: pointer;
}
/*  */
.favorite-ul {
  display: flex;
  flex-direction: column;
}
.favorite-ul li {
  list-style-type: none;
  width: auto;
  height: 50px;
  margin: 3px 30px;
  background-color: rgb(255, 238, 0);
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 10px;
}
.favorite-ul li span {
  font-size: 1rem;
  font-weight: bold;
}
.favorite-ul li span:nth-child(1) {
  width: 10%;
  cursor: pointer;
}
.favorite-ul li div {
  display: flex;
  flex: 1;
  cursor: pointer;
}
.favorite-ul li div span:nth-child(1) {
  width: 10%;
}
.favorite-ul li div span:nth-child(2) {
  width: 90%;
}
