.leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
.SearchBox {
    width: auto;
    height: auto;
    background-color: bisque;
    position: absolute;
    top: 50px; /* 調整上邊距 */
    right: 20px; /* 調整左邊距 */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.route-nav {
    width: 400px;
    height: auto;
    background-color: bisque;
    position: absolute;
    top: 100px; /* 調整上邊距 */
    right: 50%; /* 調整左邊距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    
}
.route-nav div {
    background-color: skyblue;
    width: 100px;
    height:auto;
    line-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.route-content {
    width: auto;
    height: 400px;
    background-color: bisque;
    position: absolute;
    top: 150px; /* 調整上邊距 */
    right: 20px; /* 調整左邊距 */
    background-color: white;
    padding: 10px;
    padding-top: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 50;
    overflow: scroll;
}
.route-content h2 {
    /* top: 0px; */
    /* position: sticky; */
    text-align: center;
    margin: 10px;
    display: block;
    background-color: bisque;
}
.route-content ul:nth-child(2) {
    top: 0px;
    width: auto;
    position: sticky;
    text-align: center;
    margin: 10px;
    background-color: bisque;
}
.platenumb{
    font-size: 10px;
    width: 15%;
}
.main-content {
    position:relative
}
.route-detail-header {
    margin: 10px;
    display: flex;
}

.route-detail-header span{
    padding: 10px;
    display: block;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}
ul {
    padding: 0;
    margin-top: 40px;
}

.route-detail-header span:nth-child(1){
    width: 15%;
}
.route-detail-header span:nth-child(2){
    width: 15%;
}
.route-detail-header span:nth-child(3){
    width: 40%;
}
.route-detail-header span:nth-child(4){
    width: 15%;
    text-align: right;
}
.route-detail-header .list-header{
    width: 30%;
}

  
.route-detail-header {
padding: 10px;
flex: 1;
display: flex;
justify-content: space-between;
align-items: center;
}
.route-detail-header span{
    border-right: 3px solid #ccc;
    
}

/* 時間進度條 */
.progress{
    background-color: blue;
    height: 5px;
    transition: 0.5s;
}

/* 路線列表 */
.route-list{
    display: none;
}
.route-list>li{
    display: flex;
    justify-content:left
}
.route-list>li>div:first-child{
    padding-right: 20px;
    border:1px solid #ccc;
    width: 50px;
}
.route-list>li>div:nth-child(2){
    padding-right: 20px;
    border:1px solid #ccc;
    width: 300px;
}
